<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h2 class="panel-title">Login</h2>
        </div>
        <div class="panel-body">
          <form role="form" [formGroup]="model">
            <div class="form-group">
              <label class="control-label">UserName</label>
              <input type="text" name="username" formControlName="userName" class="form-control">
            </div>
            <div class="form-group">
              <label class="control-label">Password</label>
              <input type="password" name="password" formControlName="password" class="form-control">
            </div>
            <button type="button" class="btn btn-primary" (click)="doLogin()">
              Login Now
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
